body
    transition: padding-top 0.8s ease-in-out

.logo
    transition: bottom 0.8s ease-in-out

.site-menu
    transition: top 0.8s ease-in-out

.about
    position: fixed
    top: -100%
    left: 0
    width: 100%
    background-color: #fff
    transition: top 0.8s ease-in-out
    z-index: 9999

.about--visible
    top: 0

.about--hidden
    top: -100%

.about__content
    padding: 20px


