.home-grid__item
    position: relative
    background: #141414
    overflow: hidden
    z-index: 1
    height: 70vw
    @include respond-to('desktop')
        height: 28vw

.home-grid__item--first
    height: 70vw
    @include respond-to('desktop')
        height: 47vw

