@mixin respond-to($breakpoint)
    @if $breakpoint == 'desktop-2800'
        @media (min-width: 2800px)
            @content
    @if $breakpoint == 'desktop-2100'
        @media (min-width: 2100px)
            @content
    @if $breakpoint == 'desktop-1600'
        @media (max-width: 1600px)
            @content
    @if $breakpoint == 'desktop-1280'
        @media (max-width: 1280px)
            @content
    @if $breakpoint == 'desktop'
        @media (min-width: 1024px)
            @content
    @if $breakpoint == 'tablet'
        @media (max-width: 1023px)
            @content
    @if $breakpoint == 'small-mobile'
        @media (max-width: 430px)
            @content
    @if $breakpoint == 'mobile'
        @media (max-width: 490px)
            @content
    @if $breakpoint == 'desktop-height'
        @media (min-height: 1080px)
            @content


@mixin font-style($family, $weight: 400, $style: normal, $optical-sizing: auto)
    font-family: $family, sans-serif
    font-weight: $weight
    font-style: $style
    font-optical-sizing: $optical-sizing
