$font-cap-thin: 'montserratthin', sans-serif
$font-cap-extralight: 'montserratextralight', sans-serif
$font-cap-light: 'montserratlight', sans-serif
$font-cap-regular: 'montserratregular', sans-serif
$font-cap-medium: 'montserratmedium', sans-serif
$font-cap-bold: 'montserratbold', sans-serif
$font-cap-black: 'montserratblack', sans-serif
$font-cap-extrabold: 'montserratextrabold', sans-serif
$font-cap-semibold: 'montserratsemibold', sans-serif
